<!-- views/partials/headerNavBase.ejs -->

<header>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">
				<span class="glyphicon glyphicon-cloud"></span>
				Who's Around?
			</a>
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/signup">Sign Up</a></li>
				<li><a href="/login">Log In</a></li>
			</ul>
		</div>
	</nav>
</header>
