<!-- views/partials/headerNavBase.ejs -->

<div class="navbar-header">
	<a class="navbar-brand" href="/">
		<span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
		Who's around?
	</a>
</div>
