<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title><%= title %></title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
	body    {
				padding-top: 50px;
				font: 14px "Lucida Grande","Helvetica","Arial","sans-serif";
			}
	a		{
				color: #00B7FF;
			}
	.status-updates-outer {
				border-left: solid red;
				background-color: lightgrey;
				padding: 2% 2% 2% 2%;
			}
</style>
