<!-- views/partials/headerNavBase.ejs -->


<header>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">
				<span class="glyphicon glyphicon-cloud"></span>
				Who's Around?
			</a>
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/user"><%= username %></a></li>
				<li><a href="/logout">Log Out</a></li>
			</ul>
			<form action="/search" class="navbar-form">
				<div class="input-group navbar-right">
					<input type="text" class="form-control" name="data" placeholder="Username or Email" required>
					<div class="input-group-btn">
						<button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					</div>
				</div>
			</form>
		</div>
	</nav>
</header>
