# Node Module Files
node_modules/

# Environment secrets
.env
.env.example

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lock files
*.lock

# NPM cache directory
.npm

# MacBook Disk storage
.DS_Store