<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
		<script src="/js/updateLocation.js"></script>
	</head>
	<body class="container">
		<% include ../partials/headerLoggedIn %>

		<main>
			<div class="row text-center" style="padding-bottom:5%">
				<div class="col-md-12">
					<div>
						<h1>
							People You Follow
						</h1>
					</div>
				</div>
			</div>
			<% friendList.forEach( function(friend) { %>
				<div class="row well" style="padding-bottom:0.5%">
					<div class="col-md-offset-3 col-md-3">
						<img src="<%= friend.profilePictureURL %>" alt="Profile Picture"
									class="img-responsive img-rounded center-block">
					</div>
					<div class="col-md-3">
						<div>
							<a href="<%= friend.url %>">
								<h3>
									<%= friend.username %>
								</h3>
							</a>
						</div>
					</div>
				</div>
			<% }); %>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
