<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container">
		<% include ../partials/headerLoggedOut %>

		<main>
			<div class="text-center">
				<h1>
					Welcome to "<%= title %>"
				</h1>
			</div><br/>
			<div class="text-center">
				<a href="/login" class="btn btn-primary"><i class="fa fa-sign-in" aria-hidden="true"></i> <b>Log In</b></a>  or
				<a href="/signup" class="btn btn-primary"><i class="fa fa-user" aria-hidden="true"></i> <b>Sign Up</b></a>
			</div>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
