<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container">
		<header>
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<% include ../partials/headerNavBase %>
					<ul class="nav navbar-nav">
					</ul>
				</div>
			</nav>
		</header>

		<main>
			<div class="text-center">
				<h1>
					Welcome to "<%= title %>"
				</h1>
			</div><br/>
			<div class="text-center">
				<a href="/login" class="btn btn-primary">Log In</a>  or
				<a href="/signup" class="btn btn-primary">Sign Up</a>
			</div><br/><br/><br/>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
