<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container">
		<header>
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<% include ../partials/headerNavBase %>
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/user">Profile</a></li>
						<li><a href="/logout">Log Out</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<main>
			<div>
				<h1>
					<%= username %>
				</h1>
			</div><br/>
			<div>
				<a href="/friends/add/<%= username %>" class="btn btn-primary">Add Friend</a>
			</div><br/>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
