<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container">
		<header>
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<% include ../partials/headerNavBase %>
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/login">Log In</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<main>
			<div class="text-center">
				<h1>
					<%= title %>
				</h1>
			</div><br/>
			<div>
				<form action="/signup" method="post" class="form-horizontal">
					<% if (duplicateUser == true) { %>
						<div class="form-group has-error">
							<label class="col-md-2 control-label" for="username">Username</label>
							<div class="col-md-10">
								<input type="text" class="form-control" name="username" required>
								<span>Username already in use!</span>
							</div>
						</div>
					<% } else { %>
						<div class="form-group">
							<label class="col-md-2 control-label" for="username">Username</label>
							<div class="col-md-10">
								<input type="text" class="form-control" name="username" required>
							</div>
						</div>
					<% } %>
					<% if (duplicateEmail == true) { %>
						<div class="form-group has-error">
							<label class="col-md-2 control-label" for="email">Email</label>
							<div class="col-md-10">
								<input type="email" class="form-control" name="email" required>
								<span>Email already in use!</span>
							</div>
						</div>
					<% } else { %>
						<div class="form-group">
							<label class="col-md-2 control-label" for="email">Email</label>
							<div class="col-md-10">
								<input type="email" class="form-control" name="email" required>
							</div>
						</div>
					<% } %>
					<div class="form-group">
						<label class="col-md-2 control-label" for="password">Password</label>
						<div class="col-md-10">
							<input type="password" class="form-control" name="password" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<button type="submit" class="btn btn-primary">Sign Up</button>
						</div>
					</div>
				</form>
			</div><br/><br/><br/>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
