<br/><!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container">
		<header>
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<% include ../partials/headerNavBase %>
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/friends/index">Friends</a></li>
						<li><a href="/logout">Log Out</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<main>
			<div>
				<h1>
					<%= username %>
				</h1>
			<div><br/>
			<div>
				<form  action="/user/postUpdate" method="post">
					<div class="form-group">
						<label for="status">Create a Post</label>
						<input type="text" class="form-control" name="status" placeholder="What's on your mind?" required>
					</div>
					<button type="submit" class="btn btn-primary">Post</button>
				</form>
			</div><br/><br/>
			<div>
				<% statusList.forEach( function(status) { %>
					<div class="status-updates-outer">
						<h5> <%= status.date %> </h5>
						<h3> <%= status.status %> </h3><br/>
					</div>
				<% }); %>
			</div><br/>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
